@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
    height: 500px;
    transition: scale 0.4s;

}
.driver-image{
    transition: scale 0.8s;
    filter: brightness(120%);
    transition: margin-right 0.8s;
    transition: margin-bottom 0.8s;
}
.card:hover {
    .driver-image{
        scale: 1.0;
        transition: scale 0.8s;
        filter: brightness(125%);
        margin-right: -2px;
        margin-bottom:10px;
        transition: margin-right 0.8s;
        transition: margin-bottom 0.8s;
    }
    scale: 1.05;
    transition: scale 0.4s;
}